body {
    margin: 0;
}
/*
=================
    layout
=================
*/

#game {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.game-frame {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
#grid {
    width: 100%;
}
#grid td {
    width: 33.33%;
    text-align: center;
    vertical-align: center;
    border: 1px solid silver;
}

/*
    player
*/
.player {
    display: grid;
    grid-template-columns:1.6rem repeat(2, minmax(50px, 150px));
}
.player .tag {
    grid-area: 1 / 1 / 2 / 2;
}
.player .name {
    grid-area: 1 / 2 / 2 / span 2;
}
.player .score {
    grid-area: 2 / 2 / 3 / 3;
}
.player .quit {
    grid-area: 2 / 3 / 3 / 4;
}

/*
    options
*/
